.container{
    display: flex;
    flex-wrap: wrap;
    border: solid 5px red;
    width: 500px;
    height: 500px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 80px;
}
button{
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: cadetblue;
    border-radius: 15px;
    box-shadow: 10px 5px 5px lightblue;
}